a {
    text-decoration: none;
}

@media (hover: hover) {
    .MuiButton-root:hover {
        background-color: 'transparent' !important;
        border-color: 'transparent' !important;
        box-shadow: 'none' !important;
    }
}