a {
    text-decoration: none;
}

@media (hover: hover) {
    .css-irlznt-MuiButtonBase-root-MuiButton-root:hover {
        background-color: 'transparent';
        border-color: 'transparent';
        box-shadow: 'none';
    }
}